 /*CSS STYLING CODE FOR OVERLAY POSITIONING AND CREATING GRID SHAPE COMES FROM STACK OVERFLOW AND IS ALTERED TO FIT THIS PROGRAM*/
        /*Element with id="container" will follow the regular positioning flow of the html document*/
        #container {
            position: relative;
        }

        /*Within an element with id="container", elements with id="canvas" will have an absolute position
              Elements with id="overlay" (in general) will have an absolute position
              Absolute position is unaffected by rest of the html doc
              This allows for the generation of our grid of buttons on top of a canvas element*/
        #container canvas,
        #overlay {
            position: absolute;
        }

        /*when a canvas is created, it creates a free rectangle with the border without needing to draw it using javascript*/
        canvas {
            border: 1px solid black;
        }

        .grid {
            /*grid of 10 columns, each being 70 pixels wide*/
            display: grid;
            grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px 70px 70px;
        }

        /*Style of Individual buttons*/
        .tile-style {
            height: 50px;
            font-weight: bold;
            font-size: 20px;
        }